@font-face {
    font-family: digital;
    src: url(./Digital7-rg1mL.ttf);
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:rgb(17, 48, 69);
}
.container{
    width: 100%;height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none; cursor: pointer;
}
h1{
    font-weight: 700; margin-bottom: 20px;
    color: #fff;
}
.frame{
    max-width: 400px; height: 200px; margin: 20px;
    background-color:rgb(0, 0, 0);
    border: 30px solid  #ffd000;
    padding: 10px; border-radius: 12px;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.69);
}
.clock{
    font-family: digital; line-height: 120px;
    text-align: center; font-weight: 700;
    font-size: 5vmax; position: relative; color: #fff; text-shadow: 0 0 20px #ffd000;
}
.clock::before{
    content: "";
    background-color: #ffd000;
    width: 100%; height: 100%;
    opacity: 0.1; filter: blur(40px);
}
/******************************************/
.clock span{
    font-size: 25px;
}
.m, .h, .s{
    width: 10px; padding: 5px;
}